html,
body {
  width: 100%;
  height: 100%;
  margin: auto;
  padding: 0;
}
div.nav {
  font-size: 1.5rem;
  height: 100px;
  width: 100%;
  display: flex;
  font-weight: bold;
}
div.nav div.nav1 {
  position: sticky;
  width: 200px;
  min-width: 200px;
  border: 1px solid black;
  border-bottom: 0px;
  background-color: pink;
  height: 100px;
  box-sizing: border-box;
}
div.nav div.nav1 span {
  position: absolute;
  margin: auto;
  bottom: 0px;
}
div.nav div.nav1 span button {
  height: 15px;
}
div.nav div.nav2 {
  border: 1px solid black;
  background-color: #fff8dc;
  min-width: 325px;
  box-sizing: border-box;
  width: calc(100% - 600px);
  min-width: 200px;
}
div.nav div.nav3 {
  width: 200px;
  min-width: 200px;
  border: 1px solid black;
  border-bottom: 0px;
  box-sizing: border-box;
  background-color: pink;
}
div.nav div.nav4 {
  width: 200px;
  border: 1px solid black;
  border-bottom: 0px;
  min-width: 200px;
  box-sizing: border-box;
  flex: 1;
  background-color: pink;
}
div.box {
  display: flex;
  height: calc 0%;
  width: 100%;
}
div.box ul {
  list-style: none;
}
div.box div.box1 {
  height: calc(100vh - 100px);
  overflow: auto;
  border: 1px solid black;
  border-top: 0px solid;
  width: 200px;
  min-width: 200px;
  background-color: pink;
  box-sizing: border-box;
}
div.box div.box2 {
  width: calc(100% - 600px);
  height: calc(100vh - 100px);
  overflow: auto;
  border: 1px solid black;
  background-color: #fff8dc;
  min-width: 325px;
  box-sizing: border-box;
  min-width: 200px;
}
div.box div.box3 {
  width: 200px;
  min-width: 200px;
  box-sizing: border-box;
  background-color: pink;
  border: 1px solid black;
  border-top: 0px solid;
}
div.box div.box4 {
  width: 200px;
  min-width: 200px;
  box-sizing: border-box;
  background-color: pink;
  border: 1px solid black;
  border-top: 0px solid;
}
