html,
body {
  margin: auto;
  padding: 0;
}
.top {
  background-color: #5fa8a0;
  height: 100px;
}
.left {
  background-color: #a0522d;
  width: 200px;
  height: calc(100vh - 100px);
  float: left;
  overflow: auto;
}
.right {
  width: calc(100% - 200px);
  height: calc(100vh - 100px);
  background-color: #008080;
  overflow: auto;
  float: left;
}
