* {
  background-color: rgba(0, 0, 0, 0.08);
  box-shadow: inset 0 0 1px red;
}
section {
  border: 5px solid;
  position: relative;
}
section input {
  position: relative;
  top: 300px;
  z-index: 8;
  display: none;
}
.imgs {
  position: relative;
  width: 300px;
  display: inline-block;
  height: 300px;
  overflow: hidden;
}
.imgs img {
  width: 100%;
  height: 100%;
  left: 100%;
  transition: 1s;
  position: absolute;
}
.indicators {
  position: absolute;
  bottom: 10px;
  left: 10px;
  z-index: 8;
  font-size: 0;
}
.indicators label:hover {
  background-color: pink;
}
.indicators label {
  margin: 3px;
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: grey;
  cursor: pointer;
}
input:nth-child(1):checked ~ .imgs img:nth-child(1),
input:nth-child(2):checked ~ .imgs img:nth-child(2),
input:nth-child(3):checked ~ .imgs img:nth-child(3),
input:nth-child(4):checked ~ .imgs img:nth-child(4) {
  left: 0;
}
input:nth-child(1):checked ~ .indicators label:nth-child(1),
input:nth-child(2):checked ~ .indicators label:nth-child(2),
input:nth-child(3):checked ~ .indicators label:nth-child(3),
input:nth-child(4):checked ~ .indicators label:nth-child(4) {
  background-color: pink;
}
